.card {
    display: flex;
    flex: none;
    
    flex-direction: column;
    justify-content: space-around;
    
    padding: 1.5em 1.5em;

    height: 100%;
    width: 30%;
    

    margin-left: 10px;

    border: 2px solid rgb(5, 5, 6);
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;

    background-color: rgba(172, 206, 241, 0.886);
}

.card h3 {
    font-size: 20px;
    font-weight: 400;
}

.card p {
    font-size: 15px;
    font-weight: 500;
}

.card .map {
    height: 300px;
    width:90%;
    
    border-radius: 4px;

    background-image: url(../../../static/img/mapa.jpg);
    background-size: cover;
    
}

.card .options {
    width: 90%;
    height: 60px;

    display: flex;
    justify-content: space-between;

    margin-top: 5px;  
}

.card .options button {
    width: 40%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px 5px;

    font-size: 15px;
    font-weight: bold;
    
    cursor: pointer;

    border-radius: 20px;
    border: none;

    background-color: rgb(168, 186, 236);
    transition: 0.4s ease-out;
}

.card .options button:hover {
    
    border: 1px solid black;
}

.card .options button img{
    width: 30px;
    height: 30px;
}